{% extends 'myblog/base.html' %}
{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../../static/myblog/img/home.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Siraluda Newsstand</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if post_list %}
        {% for post_item in post_list %}
        <div class="post-preview">
          <a href="{% url 'blog:post-view' post_item.id %}">
            <h2 class="post-title">
              {{ post_item.title|safe }}
            </h2>
            <h3 class="post-subtitle">
              {{ post_item.body|truncatewords:30|safe }}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="{% url 'blog:author-posts-view' post_item.author.username %}">{{ post_item.author.first_name }}</a>
            on {{ post_item.date_published|date:'F d, Y'}}</p>
        </div>
        <hr>
        {% endfor %}
        {% endif %}

        <!-- Pager -->
        <div class="clearfix">

          {% if is_paginated %}
            <!-- {% if page_obj.has_previous %}
              <a class="btn btn-outline-info mb=4" href="?page=1">First</a>
              <a class="btn btn-outline-info mb=4" href="?page={{ page_obj.previous_page_number }}">&larr;</a>
            {% endif %} -->

            {% for num in page_obj.paginator.page_range %}
              
              {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% endif %}

            {% endfor %}

            <!-- {% if page_obj.has_next %}
              {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb=4" href="?page={{ page_obj.next_page_number }}">&rarr;</a>
                <a class="btn btn-outline-info mb=4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
              {% endif %}
            {% endif %} -->

          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}

