{% extends 'myblog/base.html' %}
{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../../static/myblog/img/logout.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>New password added!</h1>
            <span class="subheading">Go back to the <a style="color:cadetblue;" href="{% url 'blog:home' %}">main page</a> or <a style="color:cadetblue;" href="{% url 'login' %}">login</a> again</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock content %}